* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title{
    color: rgb(0, 238, 255);
}
.div_title{
    display:flex;
    justify-content: center;
    align-items: center;
}
.subtitle{
    color: #0c63dd;
}
.post_title{
    color: orange;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.body{
    background-image: url("./assets/fundoNote1500.jpg");
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
}
.post{
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(90deg, #280399 0%, #0b4da9 50.52%, #6ea6ff 100%);
    border-radius: 10px
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}
.perfil_image{
    border-radius: 50%;
    border: 3px solid rgb(15, 181, 184);
    height: 200px;
    padding: auto;
}
.contacts_list{
    list-style-type: none;
    padding: 0;
}
.contacts_list li a {
    color: blue;
}
.post_content a{
color: white;
}
.contacts-list-title{
    color: #0c63dd;
}
/*animações*/

article:hover {
    transform: scale(1.05)
}
